.header{
    background-color: white;
}
.flex-container{
    display:flex;
    max-width: 992px;
    margin:10px;;
}
.flex-item{
    background: rgb(212, 10, 10);
    height: 70px;
    width:max-content;
    line-height:left;
    font-size:24px;
    color: white;
    text-align: center;
}
img {
    display: block;
    margin: 0px auto;
}
body {
    background: white;
    font-family:verdana, arial;
    width: 900px;
    margin: auto;
}
.title, .subtitle{
    color: red;
    font-family: 'Verdana, Arial';
    margin: 0px auto;
    text-align: center;
    font-family: 'roboto, verdana, arial';
}
.post_title {
    color:black;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
}
.list {
    list-style-type: none;
    padding-left: 20px;
}
